@media only screen and (max-width: 1060px) {
  .contact-elements {
    flex-direction: column-reverse !important;
  }
  .animated-text {
    font-size: 2.5rem !important;
    min-height: 250px !important;
    max-width: 300px !important;
    padding-bottom: 2rem !important;
  }
  .word1 {
    top: 0 !important;
    left: 0 !important;
  }
  .word2 {
    top: 30px !important;
    left: 60px !important;
  }
  .word3 {
    top: 20px !important;
    left: 130px !important;
  }
  .word4 {
    top: 100px !important;
    left: 20px !important;
  }
  .arrow {
    top: 200px !important;
    transform: rotate(90deg) !important;
  }
  .form {
    align-items: center !important;
  }
  .form-input {
    width: 50% !important;
  }
  .form-input-message {
    width: 50% !important;
  }
  .form-error {
    padding-left: 0 !important;
  }
}

.contact {
  display: flex;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  transition: 0.5s ease-in-out;
  padding-bottom: 4rem;
  padding-top: 12rem;
  width: 80%;
}

.contact-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 2rem;
}

.contact-text > :nth-child(1) {
  font-size: 1.1rem;
  transition: color 0.5s ease-in-out;
  color: var(--text);
}

.contact-text > :nth-child(2) {
  font-size: 3rem;
  transition: color 0.5s ease-in-out;
  color: var(--sidebar-background);
  text-shadow: 4px 2px 0px #18191a;
}

.contact-elements {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--text);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.7rem;
  height: 100%;
}

.form-input {
  font-size: 1rem;
  display: flex;
  background-color: var(--secondary);
  border: none;
  font-family: "Poppins", sans-serif;
  color: var(--text);
  height: 3rem;
  border-radius: 30px;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 50%;
  transition: 0.5s ease-in-out;
  border: 2px solid var(--text);
}

.form-input::placeholder {
  font-size: 1rem;
  color: var(--text);
}

.form-input:focus {
  outline: none;
}

.form-input-message {
  font-size: 1rem;
  background-color: var(--secondary);
  border: none;
  font-family: "Poppins", sans-serif;
  color: var(--text);
  height: 10rem;
  border-radius: 30px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 50%;
  transition: 0.5s ease-in-out;
  resize: none;
  border: 2px solid var(--text);
}

.form-input-message::placeholder {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  text-align: start;
  color: var(--text);
}

.form-input-message:focus {
  outline: none;
}

.form-error {
  font-size: 0.9rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1rem;
  color: var(--primary);
}

.form-button {
  border: none;
  background-color: var(--primary);
  color: var(--sidebar-background);
  padding: 1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  width: 120px;
  text-decoration: none;
}

.form-button:hover {
  background-color: var(--secondary);
  color: var(--text);
}

.animated-text {
  font-size: 3rem;
  min-width: 250px;
  position: relative;
}

.word1 {
  position: absolute;
  left: 0;
  top: -150px;
  color: var(--text);
}

.word2 {
  position: absolute;
  left: 70px;
  top: -120px;
  color: var(--primary);
}

.word3 {
  position: absolute;
  left: 155px;
  top: -110px;
  color: var(--text);
}

.word4 {
  position: absolute;
  left: 0;
  top: -35px;
  color: var(--text);
}

.arrow {
  position: absolute;
  left: 90px;
  top: 50px;
  width: 80px;
  height: 40px;
  display: grid;
  overflow: hidden;
}
.arrow:before,
.arrow:after {
  content: "";
  grid-area: 1/1;
  background: var(--primary);
  clip-path: polygon(
    0 10px,
    calc(100% - 30px) 10px,
    calc(100% - 30px) 0,
    100% 50%,
    calc(100% - 30px) 100%,
    calc(100% - 30px) calc(100% - 10px),
    0 calc(100% - 10px)
  );
  animation: l10 1s infinite;
  transform: translate(calc(0% + var(--v, 0%)));
}
.arrow:after {
  --v: -100%;
}
@keyframes l10 {
  80%,
  100% {
    transform: translate(calc(100% + var(--v, 0%)));
  }
}
