@media only screen and (max-width: 1060px) {
  .about-section {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
  }
  .profile-img-text {
    flex-direction: column !important;
  }
  .profile-text {
    padding-left: 0 !important;
    padding-top: 2rem !important;
  }
  .profile-img-container {
    display: flex;
  }
  .profile-text > :nth-child(2) {
    font-size: 2.8rem !important;
  }
  .profile-text > :nth-child(3) {
    font-size: 1.5rem !important;
  }
  .profile-buttons {
    gap: 0.5rem !important;
  }
  .btn {
    width: 110px !important;
  }
  .about-me {
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
  }
  .about-me-img-desc {
    flex-direction: column !important;
  }
  .exp-edu-text {
    flex-direction: column !important;
  }
  .about-me-desc {
    max-width: 300px !important;
  }
  .img-desc-right {
    padding-top: 4rem !important;
    padding-left: 0 !important;
  }
}

.about {
  transition: 0.5s ease-in-out;
  background-color: var(--background);
  user-select: none;
  height: 100%;
}

.about-section {
  display: flex;
  flex-direction: column;
  padding-top: 12rem;
  padding-bottom: 12rem;
  width: 80%;
  margin: auto;
}

.profile-img-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20rem;
}

.profile-img-container {
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-img-container > img {
  width: 100%;
  height: auto;
  max-width: 480px;
  object-fit: cover;
}

.profile-text {
  display: flex;
  flex-direction: column;
  padding-left: 6rem;
  text-align: center;
}

.writing-text > :nth-child(1) {
  font-size: 1.1rem;
  transition: color 0.5s ease-in-out;
  color: var(--text);
}

.profile-text-elements {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile-text-elements > :nth-child(1) {
  font-size: 3rem;
  transition: 0.5s ease-in-out;
  color: var(--sidebar-background);
}

.profile-text-elements > :nth-child(2) {
  font-size: 1.75rem;
  transition: 0.5s ease-in-out;
  color: var(--text);
}

.profile-button-elements {
  display: flex;
  flex-direction: column;
}

.profile-buttons {
  display: flex;
  gap: 1rem;
  padding-top: 1.5rem;
}

.btn {
  border: none;
  background-color: var(--primary);
  color: var(--sidebar-background);
  padding: 1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  width: 120px;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--secondary);
  color: var(--text);
}

.profile-links {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  gap: 1rem;
}

.link {
  transition: 0.5s ease-in-out;
  color: var(--text);
}

.link:hover {
  color: var(--primary);
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 2rem;
}

.about-me-text > :nth-child(1) {
  font-size: 1.2rem;
  transition: color 0.5s ease-in-out;
  color: var(--text);
}

.about-me-text > :nth-child(2) {
  font-size: 3rem;
  transition: color 0.5s ease-in-out;
  color: var(--sidebar-background);
}

.about-me-img-desc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-desc-left {
  display: flex;
  z-index: 0;
}

.img-desc-left > img {
  width: 100%;
  height: auto;
  max-width: 380px;
  object-fit: cover;
  border-radius: 20px;
}

.img-desc-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 4rem;
}

.exp-edu-text {
  display: flex;
  gap: 2rem;
}

.exp-edu-text > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--sidebar-background);
  border-radius: 20px;
  width: 100%;
  max-width: calc(300px - 4rem);
  padding: 2rem;
  color: var(--text);
  text-align: center;
  font-size: 1rem;
  transition: 0.5s ease-in-out;
}

.experience-container > :nth-child(2) {
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
}

.experience-icon {
  width: 32px;
  height: 32px;
  transition: 0.5s ease-in-out;
  color: var(--text);
}

.education-container > :nth-child(2) {
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
}

.education-container > :nth-child(5) {
  font-size: 0.9rem;
}

.education-icon {
  color: var(--text);
  transition: 0.5s ease-in-out;
  width: 32px;
  height: 32px;
}

.about-me-desc {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  padding-top: 2rem;
  color: var(--text);
  gap: 0.3rem;
}

.about-me-desc > span {
  display: flex;
}
