@media only screen and (max-width: 1060px) {
  .experience-section {
    padding-bottom: 4rem !important;
    padding-top: 4rem !important;
  }
  .experience-elements {
    flex-direction: column !important;
  }
  .skills {
    display: flex !important;
    flex-direction: column !important;
    align-items: start !important;
    margin-left: calc(50% - 4.5rem) !important;
  }
  .frontend-container {
    padding: 2rem !important;
  }
  .backend-container {
    padding: 2rem !important;
  }
}

.experience {
  display: flex;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.experience-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: 0.5s ease-in-out;
  padding-bottom: 12rem;
  padding-top: 12rem;
  width: 80%;
}

.experience-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 2rem;
}

.experience-text > :nth-child(1) {
  font-size: 1.1rem;
  transition: color 0.5s ease-in-out;
  color: var(--text);
}

.experience-text > :nth-child(2) {
  font-size: 3rem;
  transition: color 0.5s ease-in-out;
  color: var(--sidebar-background);
  text-shadow: 4px 2px 0px #18191a;
}

.experience-elements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.experience-elements > div {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
  text-align: center;
  min-height: 280px;
}

.frontend-container {
  position: relative;
  padding: 4rem;
}

.backend-container {
  position: relative;
  padding: 4rem;
}

.frontend-container-bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  --c: var(--cube1) 25%, var(--cube3) 0 50%, var(--sidebar-background) 0 75%,
    var(--cube1) 0;
}
.frontend-container-bg:before {
  content: "";
  background: linear-gradient(90deg, var(--c)),
    linear-gradient(-90deg, var(--c));
  background-size: 400% 52%;
  background-repeat: no-repeat;
  animation: l13 6s infinite;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.frontend-container-bg:after {
  content: "";
  background: linear-gradient(90deg, var(--c)),
    linear-gradient(-90deg, var(--c));
  background-size: 400% 52%;
  background-repeat: no-repeat;
  animation: l13 6s infinite;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.backend-container-bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  --c: var(--cube1) 25%, var(--cube3) 0 50%, var(--sidebar-background) 0 75%,
    var(--cube1) 0;
}
.backend-container-bg:before {
  content: "";
  background: linear-gradient(90deg, var(--c)),
    linear-gradient(-90deg, var(--c));
  background-size: 400% 52%;
  background-repeat: no-repeat;
  animation: l13 6s infinite;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.backend-container-bg:after {
  content: "";
  background: linear-gradient(90deg, var(--c)),
    linear-gradient(-90deg, var(--c));
  background-size: 400% 52%;
  background-repeat: no-repeat;
  animation: l13 6s infinite;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
@keyframes l13 {
  0% {
    background-position: calc(3 * 100% / 3) 0, calc(0 * 100% / 3) 100%;
  }
  23%,
  33% {
    background-position: calc(2 * 100% / 3) 0, calc(1 * 100% / 3) 100%;
  }
  56%,
  66% {
    background-position: calc(1 * 100% / 3) 0, calc(2 * 100% / 3) 100%;
  }
  90%,
  100% {
    background-position: calc(0 * 100% / 3) 0, calc(3 * 100% / 3) 100%;
  }
}

.experience-elements > div > span {
  font-size: 1.75rem;
  transition: 0.5s ease-in-out;
  color: var(--text);
  padding-bottom: 2rem;
}

.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  align-items: center;
}

.skill {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--text);
}

.skill-level {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.skill-level > :nth-child(2) {
  font-size: 0.8rem;
}
