@import url("https://fonts.googleapis.com/css2?family=Days+One&family=Poppins:wght@400;500;700&display=swap");

body,
html {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  height: 100%;
  margin: 0;
  --s: 800px;
  --c1: var(--cube1);
  --c2: var(--cube2);
  --c3: var(--cube3);

  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );
  background-size: var(--s) calc(var(--s) * 0.577);
}

/* html {font-size: 100%;} 16px */

/* h1 {font-size: 4.210rem; 67.36px} */

/* h2 {font-size: 3.158rem; 50.56px} */

/* h3 {font-size: 2.369rem; 37.92px} */

/* h4 {font-size: 1.777rem; 28.48px} */

/* h5 {font-size: 1.333rem; 21.28px} */

/* small {font-size: 0.750rem; 12px} */
